In [1]:

import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
data=pd.ExcelFile(r'C:\Users\maryam\Downloads\COVID_FINAL_DATA.xlsx')
data.sheet_names

['TimeSeries_KeyIndicators',
 'TimeSeries_KeyIndicators_Detail',
 'TimeSeries_Action_Screen',
 'TimeSeries_Action_Call',
 'TimeSeries_COVID_News',
 'TimeSeries_NIH_Response',
 'TimeSeries_NIH_Risk',
 'TimeSeries_Province_Response',
 'TimeSeries_Helpline_Calls',
 'TimeSeries_Quarantine_Details']

In [3]:
df1=pd.read_excel(data,sheet_name=0)
df1.head()

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [4]:
df1.index

RangeIndex(start=0, stop=363, step=1)

In [5]:
df1.columns

Index(['Unnamed: 0', 'Cumulative', 'Cumulative  Test positive',
       'Cumulative  tests performed', 'Date', 'Discharged', 'Expired',
       'Home Quarantine', 'New  (last 24 hrs)', 'Region', 'Still admitted',
       'Tests  performed in last 24 hours'],
      dtype='object')

In [44]:
df1.drop('Unnamed: 0',axis=1,inplace=True) 
df1.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [45]:
df1.rename(columns={'Cumulative':'Cumlutaive_cases','Discharged':'Recover','Still admitted':'Hospitalized','Cumulative  Test positive':'Confirmed','New  (last 24 hrs)':'New_cases(24 h)','Cumulative  tests performed':'Total_tests_performed','Tests  performed in last 24 hours':'New_tests(24h)','Expired':'Deaths','Home Quarantine':'Home_quarantine'},inplace=True)
df1.head()

,Cumlutaive_cases,Confirmed,Total_tests_performed,Date,Recover,Deaths,Home_quarantine,New_cases(24 h),Region,Hospitalized,New_tests(24h)
0,48,2,80,2020-03-11,0,0,0,3,ICT,2,8
1,61,0,95,2020-03-11,0,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11,1,0,0,1,Sindh,13,55
3,20,0,28,2020-03-11,0,0,0,0,KP,0,2
5,19,1,18,2020-03-11,0,0,0,4,Balochistan,1,4

In [46]:
df1.isnull().sum()

Cumlutaive_cases         0
Confirmed                0
Total_tests_performed    0
Date                     0
Recover                  0
Deaths                   0
Home_quarantine          0
New_cases(24 h)          0
Region                   0
Hospitalized             0
New_tests(24h)           0
dtype: int64

In [47]:
df1['Home_quarantine'].fillna(0,inplace=True) 
df1['Home_quarantine']

0         0
1         0
2         0
3         0
5         0
       ...
358      94
359     238
360     988
361    2581
362    2913
Name: Home_quarantine, Length: 350, dtype: int64

In [48]:
df1['Home_quarantine']=df1['Home_quarantine'].apply(np.int64)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 362
Data columns (total 11 columns):
Cumlutaive_cases         350 non-null int64
Confirmed                350 non-null int64
Total_tests_performed    350 non-null int64
Date                     350 non-null datetime64[ns]
Recover                  350 non-null int64
Deaths                   350 non-null int64
Home_quarantine          350 non-null int64
New_cases(24 h)          350 non-null int64
Region                   350 non-null object
Hospitalized             350 non-null int64
New_tests(24h)           350 non-null int64
dtypes: datetime64[ns](1), int64(9), object(1)
memory usage: 32.8+ KB

In [49]:
df1['Date']=pd.to_datetime(df1.Date)
df1['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
5     2020-03-11
         ...
358   2020-04-29
359   2020-04-29
360   2020-04-29
361   2020-04-29
362   2020-04-29
Name: Date, Length: 350, dtype: datetime64[ns]

In [50]:
df1.dtypes

Cumlutaive_cases                  int64
Confirmed                         int64
Total_tests_performed             int64
Date                     datetime64[ns]
Recover                           int64
Deaths                            int64
Home_quarantine                   int64
New_cases(24 h)                   int64
Region                           object
Hospitalized                      int64
New_tests(24h)                    int64
dtype: object

In [51]:
df1['New_tests(24h)'].replace({'No 0':'0'},inplace=True)  #replacing No 0 value in New_tests with 0

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [52]:
df1['New_tests(24h)']=df1['New_tests(24h)'].apply(np.int64)

In [53]:
df1.dtypes

Cumlutaive_cases                  int64
Confirmed                         int64
Total_tests_performed             int64
Date                     datetime64[ns]
Recover                           int64
Deaths                            int64
Home_quarantine                   int64
New_cases(24 h)                   int64
Region                           object
Hospitalized                      int64
New_tests(24h)                    int64
dtype: object

In [54]:
df1['New_tests(24h)']

0         8
1         7
2        55
3         2
5         4
       ...
358     132
359     458
360     812
361    2548
362    4112
Name: New_tests(24h), Length: 350, dtype: int64

In [55]:
df1.duplicated().any()

False

In [56]:
df1.describe()  #data is clean

,Cumlutaive_cases,Confirmed,Total_tests_performed,Recover,Deaths,Home_quarantine,New_cases(24 h),Hospitalized,New_tests(24h)
count,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000
mean,5677.271429,632.382857,7179.571429,150.437143,11.780000,306.714286,383.505714,192.820000,357.765714
std,9765.676215,1159.580421,14392.883698,359.963004,23.377925,1248.953021,663.167383,330.778727,697.672140
min,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,214.000000,25.250000,432.250000,0.000000,0.000000,0.000000,15.250000,11.000000,0.000000
50%,1594.500000,182.500000,1605.000000,9.000000,1.000000,13.000000,99.000000,34.000000,46.000000
75%,5841.000000,584.750000,5811.000000,142.000000,9.000000,201.750000,411.500000,245.750000,319.500000
max,48061.000000,5827.000000,77619.000000,2577.000000,114.000000,21452.000000,4112.000000,1719.000000,4112.000000

In [57]:
df1.loc[df1['Region']=='KPTD']

Empty DataFrame
Columns: [Cumlutaive_cases, Confirmed, Total_tests_performed, Date, Recover, Deaths, Home_quarantine, New_cases(24 h), Region, Hospitalized, New_tests(24h)]
Index: []

In [58]:
df1.loc[df1['Region']=='Mobile Lab']

Empty DataFrame
Columns: [Cumlutaive_cases, Confirmed, Total_tests_performed, Date, Recover, Deaths, Home_quarantine, New_cases(24 h), Region, Hospitalized, New_tests(24h)]
Index: []

In [59]:
df1.drop(df1.loc[df1['Region'].isin(['KPTD','Mobile Lab'])].index,inplace=True)
df1.shape

(350, 11)

In [60]:
df1.head()

,Cumlutaive_cases,Confirmed,Total_tests_performed,Date,Recover,Deaths,Home_quarantine,New_cases(24 h),Region,Hospitalized,New_tests(24h)
0,48,2,80,2020-03-11,0,0,0,3,ICT,2,8
1,61,0,95,2020-03-11,0,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11,1,0,0,1,Sindh,13,55
3,20,0,28,2020-03-11,0,0,0,0,KP,0,2
5,19,1,18,2020-03-11,0,0,0,4,Balochistan,1,4

In [61]:
df1.Region

0              ICT
1           Punjab
2            Sindh
3               KP
5      Balochistan
          ...
358             GB
359            ICT
360             KP
361         Punjab
362          Sindh
Name: Region, Length: 350, dtype: object

In [62]:
df1.Date.max()-df1.Date.min()

Timedelta('49 days 00:00:00')

In [63]:
df1.Region.value_counts()

Sindh          50
GB             50
Balochistan    50
ICT            50
KP             50
AJK            50
Punjab         50
Name: Region, dtype: int64

In [64]:
#df1.to_excel(r'',sheet_name='')

In [65]:
df2=pd.read_excel(data,sheet_name=1)
df2.head()

,Date,Province Old,Suspected Cases Last Date,Suspected Cases Last 24 Hrs,Suspected Cases Cumulative,Lab Tests Last 24 Hrs,Lab Tests Cumulative,Confirmed Cases Last Date,Confirmed Cases Last 24 Hrs,Confirmed Cases Cumulative,...,Confirmed HW - Active Doctors,Confirmed HW - Active Nurses,Confirmed HW - Active Others,Confirmed HW - Active Total,Confirmed HW - Active Isolation,Confirmed HW - Active Hospital,Confirmed HW - Active Hospital Stable,Confirmed HW - Active Hospital Ventilator,Confirmed HW - Active Recovered,Confirmed HW - Active Deaths
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df2.shape

(154, 52)

In [67]:
df2.columns

Index(['Date', 'Province Old', 'Suspected Cases Last Date',
       'Suspected Cases Last 24 Hrs', 'Suspected Cases Cumulative',
       'Lab Tests Last 24 Hrs', 'Lab Tests Cumulative',
       'Confirmed Cases Last Date', 'Confirmed Cases Last 24 Hrs',
       'Confirmed Cases Cumulative', ' Deaths Last Date',
       ' Deaths Last 24 Hrs', ' Deaths Cumulative', 'Transmission Total',
       'Transmission Foreign - Iran', 'Transmission Foreign - Iran %',
       'Transmission Foreign - Other', 'Transmission Foreign - Other %',
       'Transmission Local - Tableegh', 'Transmission Local % - Tableegh',
       'Transmission Local - Others', 'Transmission Local % - Others',
       'Transmission Local', 'Transmission Local %', 'Total Hospitals',
       'Beds for COVID', 'Total Admitted', 'Admitted Stable',
       'Admitted Critical', 'Admitted Venilator', 'Home Quarantine',
       'Recovered', 'Death', 'Quarantine Facilities', 'Last 24 Hrs Arrival',
       'Last 24 Hrs (Location)', 'Last 24 Hrs Departure',
       'Cumulative Quarantined', 'Number of Tests', 'Results Achieved',
       'Test Positive Cases', 'Test Positive Cases %',
       'Confirmed HW - Active Doctors', 'Confirmed HW - Active Nurses',
       'Confirmed HW - Active Others', 'Confirmed HW - Active Total',
       'Confirmed HW - Active Isolation', 'Confirmed HW - Active Hospital',
       'Confirmed HW - Active Hospital Stable',
       'Confirmed HW - Active Hospital Ventilator',
       'Confirmed HW - Active Recovered', 'Confirmed HW - Active Deaths'],
      dtype='object')

In [68]:
df2['Province Old'].unique()

array(['AJK', 'Balochistan', 'GB', 'ICT', 'KP', 'Punjab', 'Sindh'],
      dtype=object)

In [69]:
df2.columns=df2.columns.str.strip().str.capitalize().str.replace(' ','_')

In [70]:
df2.head()

,Date,Province_old,Suspected_cases_last_date,Suspected_cases_last_24_hrs,Suspected_cases_cumulative,Lab_tests_last_24_hrs,Lab_tests_cumulative,Confirmed_cases_last_date,Confirmed_cases_last_24_hrs,Confirmed_cases_cumulative,...,Confirmed_hw_-_active_doctors,Confirmed_hw_-_active_nurses,Confirmed_hw_-_active_others,Confirmed_hw_-_active_total,Confirmed_hw_-_active_isolation,Confirmed_hw_-_active_hospital,Confirmed_hw_-_active_hospital_stable,Confirmed_hw_-_active_hospital_ventilator,Confirmed_hw_-_active_recovered,Confirmed_hw_-_active_deaths
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0

In [71]:
df2.rename(columns={'Province_old':'Region','Suspected_cases_last_date':'Cases(till_date)','Suspected_cases_last_24_hrs':'Cases (24 hrs)','Suspected_cases_cumulative':'Total_cases','Lab_tests_last_24_hrs':'New_labtest(24h)','Lab_tests_cumulative':'Total_labtests','Confirmed_cases_last_date':'Confirmed (till_date)','Confirmed_cases_last_24_hrs':'New_confirmed','Confirmed_cases_cumulative':'Total_confirmed','Deaths_last_date':'Death (till_date)','Deaths_cumulative':'Total_deaths','Last_24_hrs_arrival':'New_arrivals','Last_24_hrs_departure':'New_departure(24h)','Cumulative_quarantined':'Total_quarantine','Test_positive_cases':'Test_positive','Test_positive_cases_%':'Test_postive(%)'},inplace=True)

In [72]:
df2.rename(columns={'Transmission_foreign_-_iran':'Foreign_transmission(iran)','Transmission_foreign_-_iran_%':'%Foreign_transmission(iran)','Transmission_foreign_-_other':'Foreign_transmission(other)','Transmission_foreign_-_other_%':'%Foreign_transmission(Other)','Transmission_local_-_tableegh':'Local_transmission(tableegh)','Transmission_local_%_-_tableegh':'%Local_transmission(Tableegh)','Transmission_local_-_others':'Local_transmission(other)','Transmission_local_%_-_others':'%Local_transmission(Other)','Transmission_local':'Total_Transmission(local)','Transmission_local_%':'%Total_Transmission(local)'},inplace=True)

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 52 columns):
Date                                         154 non-null datetime64[ns]
Region                                       154 non-null object
Cases(till_date)                             154 non-null int64
Cases (24 hrs)                               154 non-null int64
Total_cases                                  154 non-null int64
New_labtest(24h)                             154 non-null int64
Total_labtests                               154 non-null int64
Confirmed (till_date)                        154 non-null int64
New_confirmed                                154 non-null int64
Total_confirmed                              154 non-null int64
Death (till_date)                            154 non-null int64
Deaths_last_24_hrs                           154 non-null int64
Total_deaths                                 154 non-null int64
Transmission_total                           154 non-null int64
Foreign_transmission(iran)                   154 non-null int64
%Foreign_transmission(iran)                  154 non-null float64
Foreign_transmission(other)                  154 non-null int64
%Foreign_transmission(Other)                 154 non-null float64
Local_transmission(tableegh)                 154 non-null int64
%Local_transmission(Tableegh)                154 non-null float64
Local_transmission(other)                    154 non-null int64
%Local_transmission(Other)                   154 non-null float64
Total_Transmission(local)                    154 non-null int64
%Total_Transmission(local)                   154 non-null float64
Total_hospitals                              154 non-null int64
Beds_for_covid                               154 non-null int64
Total_admitted                               154 non-null int64
Admitted_stable                              154 non-null int64
Admitted_critical                            154 non-null int64
Admitted_venilator                           154 non-null int64
Home_quarantine                              154 non-null int64
Recovered                                    154 non-null int64
Death                                        154 non-null int64
Quarantine_facilities                        154 non-null int64
New_arrivals                                 154 non-null int64
Last_24_hrs_(location)                       154 non-null int64
New_departure(24h)                           154 non-null int64
Total_quarantine                             154 non-null int64
Number_of_tests                              154 non-null int64
Results_achieved                             154 non-null int64
Test_positive                                154 non-null int64
Test_postive(%)                              154 non-null float64
Confirmed_hw_-_active_doctors                154 non-null int64
Confirmed_hw_-_active_nurses                 154 non-null int64
Confirmed_hw_-_active_others                 154 non-null int64
Confirmed_hw_-_active_total                  154 non-null int64
Confirmed_hw_-_active_isolation              154 non-null int64
Confirmed_hw_-_active_hospital               154 non-null int64
Confirmed_hw_-_active_hospital_stable        154 non-null int64
Confirmed_hw_-_active_hospital_ventilator    154 non-null int64
Confirmed_hw_-_active_recovered              154 non-null int64
Confirmed_hw_-_active_deaths                 154 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(44), object(1)
memory usage: 62.7+ KB

In [74]:
df2.isnull().sum()

Date                                         0
Region                                       0
Cases(till_date)                             0
Cases (24 hrs)                               0
Total_cases                                  0
New_labtest(24h)                             0
Total_labtests                               0
Confirmed (till_date)                        0
New_confirmed                                0
Total_confirmed                              0
Death (till_date)                            0
Deaths_last_24_hrs                           0
Total_deaths                                 0
Transmission_total                           0
Foreign_transmission(iran)                   0
%Foreign_transmission(iran)                  0
Foreign_transmission(other)                  0
%Foreign_transmission(Other)                 0
Local_transmission(tableegh)                 0
%Local_transmission(Tableegh)                0
Local_transmission(other)                    0
%Local_transmission(Other)                   0
Total_Transmission(local)                    0
%Total_Transmission(local)                   0
Total_hospitals                              0
Beds_for_covid                               0
Total_admitted                               0
Admitted_stable                              0
Admitted_critical                            0
Admitted_venilator                           0
Home_quarantine                              0
Recovered                                    0
Death                                        0
Quarantine_facilities                        0
New_arrivals                                 0
Last_24_hrs_(location)                       0
New_departure(24h)                           0
Total_quarantine                             0
Number_of_tests                              0
Results_achieved                             0
Test_positive                                0
Test_postive(%)                              0
Confirmed_hw_-_active_doctors                0
Confirmed_hw_-_active_nurses                 0
Confirmed_hw_-_active_others                 0
Confirmed_hw_-_active_total                  0
Confirmed_hw_-_active_isolation              0
Confirmed_hw_-_active_hospital               0
Confirmed_hw_-_active_hospital_stable        0
Confirmed_hw_-_active_hospital_ventilator    0
Confirmed_hw_-_active_recovered              0
Confirmed_hw_-_active_deaths                 0
dtype: int64

In [75]:
df2.duplicated().sum()

0

In [76]:
df2.isin([0]).sum()

Date                                           0
Region                                         0
Cases(till_date)                               0
Cases (24 hrs)                                 0
Total_cases                                    0
New_labtest(24h)                               1
Total_labtests                                 0
Confirmed (till_date)                          0
New_confirmed                                  8
Total_confirmed                                0
Death (till_date)                             26
Deaths_last_24_hrs                            81
Total_deaths                                  25
Transmission_total                             0
Foreign_transmission(iran)                    22
%Foreign_transmission(iran)                   22
Foreign_transmission(other)                    0
%Foreign_transmission(Other)                   6
Local_transmission(tableegh)                  24
%Local_transmission(Tableegh)                 24
Local_transmission(other)                     24
%Local_transmission(Other)                    24
Total_Transmission(local)                      0
%Total_Transmission(local)                     0
Total_hospitals                                0
Beds_for_covid                                 0
Total_admitted                                 0
Admitted_stable                                0
Admitted_critical                             62
Admitted_venilator                           148
Home_quarantine                               22
Recovered                                      1
Death                                         25
Quarantine_facilities                          0
New_arrivals                                  77
Last_24_hrs_(location)                       154
New_departure(24h)                            61
Total_quarantine                               2
Number_of_tests                                8
Results_achieved                               1
Test_positive                                  1
Test_postive(%)                                1
Confirmed_hw_-_active_doctors                126
Confirmed_hw_-_active_nurses                 134
Confirmed_hw_-_active_others                 126
Confirmed_hw_-_active_total                  126
Confirmed_hw_-_active_isolation              138
Confirmed_hw_-_active_hospital               131
Confirmed_hw_-_active_hospital_stable        131
Confirmed_hw_-_active_hospital_ventilator    151
Confirmed_hw_-_active_recovered              127
Confirmed_hw_-_active_deaths                 144
dtype: int64

In [77]:
cols=np.where(((df2.isin([0]).sum())>=(len(df2)/2))==True)

In [78]:
df2.drop(df2.columns[cols],axis=1,inplace=True)

In [79]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 38 columns):
Date                             154 non-null datetime64[ns]
Region                           154 non-null object
Cases(till_date)                 154 non-null int64
Cases (24 hrs)                   154 non-null int64
Total_cases                      154 non-null int64
New_labtest(24h)                 154 non-null int64
Total_labtests                   154 non-null int64
Confirmed (till_date)            154 non-null int64
New_confirmed                    154 non-null int64
Total_confirmed                  154 non-null int64
Death (till_date)                154 non-null int64
Total_deaths                     154 non-null int64
Transmission_total               154 non-null int64
Foreign_transmission(iran)       154 non-null int64
%Foreign_transmission(iran)      154 non-null float64
Foreign_transmission(other)      154 non-null int64
%Foreign_transmission(Other)     154 non-null float64
Local_transmission(tableegh)     154 non-null int64
%Local_transmission(Tableegh)    154 non-null float64
Local_transmission(other)        154 non-null int64
%Local_transmission(Other)       154 non-null float64
Total_Transmission(local)        154 non-null int64
%Total_Transmission(local)       154 non-null float64
Total_hospitals                  154 non-null int64
Beds_for_covid                   154 non-null int64
Total_admitted                   154 non-null int64
Admitted_stable                  154 non-null int64
Admitted_critical                154 non-null int64
Home_quarantine                  154 non-null int64
Recovered                        154 non-null int64
Death                            154 non-null int64
Quarantine_facilities            154 non-null int64
New_departure(24h)               154 non-null int64
Total_quarantine                 154 non-null int64
Number_of_tests                  154 non-null int64
Results_achieved                 154 non-null int64
Test_positive                    154 non-null int64
Test_postive(%)                  154 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(30), object(1)
memory usage: 45.8+ KB

In [80]:
df2.Date.max()-df2.Date.min()

Timedelta('21 days 00:00:00')

In [81]:
df3=pd.read_excel(data,sheet_name=2)
df3.head()

,Date,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676

In [82]:
df3.shape

(24, 4)

In [83]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                                                     24 non-null object
Cumulative travelers Screened                            24 non-null int64
Suspected at Points of Entry                             24 non-null int64
Travelers Screened at Points ofEntry in last 24 hours    24 non-null int64
dtypes: int64(3), object(1)
memory usage: 896.0+ bytes

In [84]:
df3.columns=['Date','Total_travelers_screened','Suspected_travelers','New_travelers_screened (24h)']

In [85]:
df3['Date']=pd.to_datetime(df3['Date'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                            24 non-null datetime64[ns]
Total_travelers_screened        24 non-null int64
Suspected_travelers             24 non-null int64
New_travelers_screened (24h)    24 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 896.0 bytes

In [86]:
df3.isnull().sum()

Date                            0
Total_travelers_screened        0
Suspected_travelers             0
New_travelers_screened (24h)    0
dtype: int64

In [87]:
df3.duplicated().sum()

0

In [88]:
df3.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                            0
Total_travelers_screened        0
Suspected_travelers             0
New_travelers_screened (24h)    0
dtype: int64

In [89]:
df4=pd.read_excel(data,sheet_name=3)
df4.head()

,Returnees,Advised Self-Quarantine,Cumulative no offirst-time calls,Cumulativefollow-up calls,Date,First-time calls inpast 24 hrs,Follow-up calls inpast 24 hrs
0,Returnees from Iran,0,9459,2553,11-Mar-2020,0,353
1,Returnees from China,11,5342,7746,11-Mar-2020,17,400
2,Returnees from Iran,14,9475,3221,12-Mar-2020,16,668
3,Returnees from China,7,5352,7855,12-Mar-2020,10,109
4,Returnees from Iran,0,9475,3853,13-Mar-2020,0,632

In [90]:
df4.shape

(40, 7)

In [91]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
Returnees                           40 non-null object
Advised Self-Quarantine             40 non-null int64
Cumulative no offirst-time calls    40 non-null int64
Cumulativefollow-up calls           40 non-null int64
Date                                40 non-null object
First-time calls inpast 24 hrs      40 non-null int64
Follow-up calls inpast 24 hrs       40 non-null int64
dtypes: int64(5), object(2)
memory usage: 2.3+ KB

In [92]:
df4['Date']=pd.to_datetime(df4['Date'])

In [93]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
Returnees                           40 non-null object
Advised Self-Quarantine             40 non-null int64
Cumulative no offirst-time calls    40 non-null int64
Cumulativefollow-up calls           40 non-null int64
Date                                40 non-null datetime64[ns]
First-time calls inpast 24 hrs      40 non-null int64
Follow-up calls inpast 24 hrs       40 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.3+ KB

In [94]:
df4.isnull().sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [95]:
df4.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [96]:
df5=pd.read_excel(data,sheet_name=4)
df5.head()

,Unnamed: 0,Date,News,Agg News
0,0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...

In [97]:
df5.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df5.head()

,Date,News,Agg News
0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...

In [98]:
df5['Date']=pd.to_datetime(df5['Date'])
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
Date        146 non-null datetime64[ns]
News        146 non-null object
Agg News    146 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 3.5+ KB

In [99]:
df5.columns=['Date','NH_news','Daily_news']

In [100]:
df5.isnull().sum()

Date          0
NH_news       0
Daily_news    0
dtype: int64

In [101]:
print(df5.duplicated().sum())
df5.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

0

Date          0
NH_news       0
Daily_news    0
dtype: int64

In [102]:
df6=pd.read_excel(data,sheet_name=5)
df6.head()

,Unnamed: 0,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,0,12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [103]:
df6.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df6.head()

,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [104]:
df6['Date']=pd.to_datetime(df6['Date'])
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Date                                 65 non-null datetime64[ns]
NIH Preparedness and Response        65 non-null object
Agg NIH Preparedness and Response    65 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.6+ KB

In [105]:
df6.columns=['Date','Steps_takenby_NIH','Steps_details']

In [106]:
print(df6.isnull().sum())

Date                 0
Steps_takenby_NIH    0
Steps_details        0
dtype: int64

In [107]:
df6.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                 0
Steps_takenby_NIH    0
Steps_details        0
dtype: int64

In [108]:
df6.duplicated().sum()

0

In [109]:
df7=pd.read_excel(data,sheet_name=6)
df7.head()

   Unnamed: 0         Date Risk Assessment NIH
0           0  11-Mar-2020           MODERATE.
1           0  12-Mar-2020           MODERATE.
2           0  13-Mar-2020           MODERATE.
3           0  14-Mar-2020           MODERATE.
4           0  15-Mar-2020            Moderate

In [110]:
df7.shape

(24, 3)

In [111]:
df7.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df7.head()

          Date Risk Assessment NIH
0  11-Mar-2020           MODERATE.
1  12-Mar-2020           MODERATE.
2  13-Mar-2020           MODERATE.
3  14-Mar-2020           MODERATE.
4  15-Mar-2020            Moderate

In [112]:
df7['Date']=pd.to_datetime(df7['Date'])
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Date                   24 non-null datetime64[ns]
Risk Assessment NIH    24 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 512.0+ bytes

In [113]:
df7.columns=['Date','Risk_assessement_NH']

In [114]:
df7.duplicated().sum()

0

In [115]:
df8=pd.read_excel(data,sheet_name=7)
df8.head()

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
0,0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...

In [116]:
df8.region.unique()

array(['Balochistan', 'Sindh', 'KP & TD', 'GB', 'Punjab', 'AJK', 'ICT',
       'KP'], dtype=object)

In [117]:
df8.shape

(166, 5)

In [118]:
df8[df8['Unnamed: 0']==4]

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...
12,4,KP & TD,01 alert generated (self-referral) in Police a...,12-Mar-2020,01 alert generated (self-referral) in Police a...
20,4,KP & TD,"A total of 75 personnel including doctors, par...",13-Mar-2020,"A total of 75 personnel including doctors, par..."
29,4,AJK,Chest Diseases General Hospital (CDGH) Hill Ch...,14-Mar-2020,Chest Diseases General Hospital (CDGH) Hill Ch...
36,4,Sindh,Quarantine facilities established and operatio...,15-Mar-2020,Quarantine facilities established and operatio...
46,4,KP & TD,Four new suspected cases reported from Police ...,16-Mar-2020,Four new suspected cases reported from Police ...
54,4,Punjab,"PDSRU is in 24/7 coordination with NIH, Islama...",17-Mar-2020,"PDSRU is in 24/7 coordination with NIH, Islama..."
62,4,KP & TD,Quarantine facility for 171 passengers establi...,18-Mar-2020,Quarantine facility for 171 passengers establi...
70,4,AJK,Contact tracing of confirmed case being carrie...,19-Mar-2020,Contact tracing of confirmed case being carrie...
76,4,KP & TD,Contact tracing of all suspected and confirmed...,20-Mar-2020,Contact tracing of all suspected and confirmed...
83,4,KP & TD,30 people who have an international travel his...,21-Mar-2020,30 people who have an international travel his...
90,4,KP & TD,Incident Command and Management Centre regardi...,22-Mar-2020,Incident Command and Management Centre regardi...
97,4,AJK,13 new pilgrims have been received from Taftan...,23-Mar-2020,13 new pilgrims have been received from Taftan...
103,4,AJK,VTM kits made available at all designated hosp...,24-Mar-2020,VTM kits made available at all designated hosp...
109,4,GB,Gilgit and Baltistan announced 2 Red Zones. •,25-Mar-2020,Gilgit and Baltistan announced 2 Red Zones. •
114,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,26-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
120,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,27-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
126,4,AJK,A new field isolation hospital for COVID-19 wi...,28-Mar-2020,A new field isolation hospital for COVID-19 wi...
132,4,AJK,SOPs on COVID-19 prepared by Department of hea...,29-Mar-2020,SOPs on COVID-19 prepared by Department of hea...
138,4,AJK,A new field isolation hospital for COVID-19 pa...,30-Mar-2020,A new field isolation hospital for COVID-19 pa...
144,4,KP,Equipment and supplies including oxygen concen...,2020-03-31 00:00:00,Equipment and supplies including oxygen concen...
151,4,AJK,Contact tracing of confirmed cases done. 50 sa...,2020-04-01 00:00:00,Contact tracing of confirmed cases done. 50 sa...
157,4,AJK,MNCH program released Rs. 2.25 million to all ...,2020-04-02 00:00:00,MNCH program released Rs. 2.25 million to all ...
163,4,KP,Data transcription on to the IPMS software hos...,2020-04-03 00:00:00,Data transcription on to the IPMS software hos...

In [119]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 5 columns):
Unnamed: 0                                 166 non-null int64
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null object
Agg Provinces Preparedness and Response    166 non-null object
dtypes: int64(1), object(4)
memory usage: 6.6+ KB

In [120]:
df8['Date']=pd.to_datetime(df8['Date'])
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 5 columns):
Unnamed: 0                                 166 non-null int64
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null datetime64[ns]
Agg Provinces Preparedness and Response    166 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 6.6+ KB

In [121]:
df8.columns=['Region','Steps_takenby_provinces','Date','Steps_details']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [122]:
df8.drop('Unnamed: 0',axis=1,inplace=True)

In [123]:
df8.isnull().sum()

region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [124]:
df8.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [125]:
df8.duplicated().sum()

0

In [126]:
df9=pd.read_excel(data,sheet_name=8)
df9.head()

   Unnamed: 0  Cumulative Calls       Date  New Calls
0           0             12481 2020-03-11        547
1           0             13167 2020-03-12        686
2           0             13896 2020-03-13        729
3           0             15340 2020-03-14       1444
4           0             19131 2020-03-15       3791

In [127]:
df9.shape

(24, 4)

In [128]:
df9['Unnamed: 0'].isin([0]).sum()

24

In [129]:
df9.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df9.head()

   Cumulative Calls       Date  New Calls
0             12481 2020-03-11        547
1             13167 2020-03-12        686
2             13896 2020-03-13        729
3             15340 2020-03-14       1444
4             19131 2020-03-15       3791

In [130]:
df9.columns=df9.columns.str.strip().str.capitalize().str.replace(' ','_')

In [131]:
df9['Date']=pd.to_datetime(df9['Date'])
df9.head()

   Cumulative_calls       Date  New_calls
0             12481 2020-03-11        547
1             13167 2020-03-12        686
2             13896 2020-03-13        729
3             15340 2020-03-14       1444
4             19131 2020-03-15       3791

In [132]:
print(df9.isnull().sum())
df9.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Cumulative_calls    0
Date                0
New_calls           0
dtype: int64

Cumulative_calls    0
Date                0
New_calls           0
dtype: int64

In [133]:
df9.duplicated().sum()

0

In [134]:
df10=pd.read_excel(data,sheet_name=9)
df10.head()

,Unnamed: 0,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,0,ICT,1,0,24,2020-04-01
1,1,Punjab,4,0,2956,2020-04-01
2,2,Sindh,5,0,1388,2020-04-01
3,3,KP,92,181,3260,2020-04-01
4,4,Balochistan,9,0,366,2020-04-01

In [135]:
df10.shape

(21, 6)

In [136]:
df10.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
df10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [137]:
df10['Date']=pd.to_datetime(df10['Date']) 
df10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [138]:
print(df10.isnull().any())

Regions                             False
Quarantine facilities (n)           False
No. of arrivals in last 24 hrs      False
Cumulative no of persons present    False
Date                                False
dtype: bool

In [139]:
df10.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Regions                             0
Quarantine facilities (n)           0
No. of arrivals in last 24 hrs      0
Cumulative no of persons present    0
Date                                0
dtype: int64

In [140]:
df10.duplicated().sum()

0

In [141]:
df10.Regions.unique()

array(['ICT', 'Punjab', 'Sindh', 'KP', 'Balochistan', 'AJK', 'GB'],
      dtype=object)

In [142]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\programdata\anaconda3\lib\site-packages (1.2.1)

In [143]:
writer=pd.ExcelWriter('covid-data.xlsx',engine='xlsxwriter')
df1.to_excel(writer,sheet_name='TimeSeries_KeyIndicators')
df2.to_excel(writer,sheet_name='TimeSeries_KeyIndicators_Detail')
df3.to_excel(writer,sheet_name='TimeSeries_Action_Screen')
df4.to_excel(writer,sheet_name='TimeSeries_Action_Call')
df5.to_excel(writer,sheet_name='TimeSeries_COVID_News')
df6.to_excel(writer,sheet_name='TimeSeries_NIH_Response')
df7.to_excel(writer,sheet_name='TimeSeries_NIH_Risk')
df8.to_excel(writer,sheet_name='TimeSeries_Province_Response')
df9.to_excel(writer,sheet_name='TimeSeries_Helpline_Calls')
df10.to_excel(writer,sheet_name='TimeSeries_Quarantine_Details')
writer.save()